.app-container {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 800px;
}

.table {
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.table th, .table td {
  text-align: center;
  vertical-align: middle;
}

.table-hover tbody tr:hover {
  background-color: #f2f2f2;
}

.thead-dark th {
  background-color: #343a40;
  color: #fff;
}
